RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^c/([^\.]+)$ /iot/hdhomerun/channel.php [NC,L]
RewriteRule ^hdhr/([^\.]+)$ /iot/hdhomerun/$1 [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]